.mask {
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 500;
}

.payPop {
	background: #fff;
	position: absolute;
	display: none;
	z-index: 600;
	top: 0;
}

.payPop p {
	padding: 30px;
	line-height: 18px;
}

.payPopBtn {
	padding-left: 20%;
	padding-right: 20%;
}

.payment-logo {
	margin-top: -13px;
}

.payment-action {
	color: white;
	text-decoration: underline;
}

.payment-action:visited {
	color: white;
}

.payment-action:hover {
	color: #ff973b
}

ul.delivery_method-list>li {
	list-style-type: none;
}

.hop-payment-border{
	border: none;
}