@media screen and (max-width : 1023px) {
	#share {
		display: none !important;
	}
}
#share {
	width:68px;
	height:48px;
	background-color:#62a21b;
	border-color:#62a21b;
}
#share:hover {
	width:68px;
	height:48px;
	background-color:#90da3f;
	border-color:#90da3f;
}